# {{ user.home | default('/home/' + user.name) }}/.bashrc"
# for user {{ user.name }}
{{ ansible_managed | comment }}

# Source global definitions
if [ -f /etc/bash.bashrc ]; then
    source /etc/bash.bashrc
fi

# User specific environment
PATH="{{ l3d_users__bashrc_path }}"
export PATH

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
{% for alias in l3d_users__dotfiles__aliases %}
{%     if alias.color %}
    alias {{ alias.alias }}="{{ alias.command }} --color=auto"
{%     endif %}
{% endfor %}
fi

{% for alias in l3d_users__dotfiles__aliases %}
{%     if not alias.color %}
    alias {{ alias.alias }}="{{ alias.command }}"
{%     endif %}
{% endfor %}

{% if l3d_users__dotfiles__bash_completion_enabled %}
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi
{% endif %}

# fancy Prompt
export PS1='{{ l3d_users__dotfiles__user_prompt }} '

# baqsh_history
HISTCONTROL={{ l3d_users__dotfiles__history_control }}
shopt -s histappend
{% if ansible_os_family == 'Redhat' %}
# HISTSIZE={{ dotfiles__history_size }}
# HISTFILESIZE={{ dotfiles__history_file_size }}
{% elif ansible_distribution == "CentOS" %}
# HISTSIZE={{ dotfiles__history_size }}
# HISTFILESIZE={{ dotfiles__history_file_size }}
{% else %}
HISTSIZE={{ dotfiles__history_size }}
HISTFILESIZE={{ dotfiles__history_file_size }}
{% endif %}

# additional general rules
{% for _row in dotfiles__additional_user_bashrc_lines | default() %}
{{ _row }}
{% endfor %}

# additional user rules
{% for custom in user.bashrc | default([]) %}
{{ custom }}
{% endfor %}

# vim:ts=4:sw=4
